.nav-container {
    background: url('./headerimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(73, 80, 87, .5);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nav {
    position: absolute;
    top: 2rem;
}

#to-about {
    position: absolute;
    bottom: 2rem;
}

.profile-pic {
    height: 40%;
    object-fit: contain;
    border-radius: 50px;
}